body {
    padding: 0%;
    margin: 0%;
    width: 100%;
    height: auto;
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    font-size: medium;
    background: url(https://pbs.twimg.com/media/DhXIcJhXcAUrind.jpg:large) no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

}

.header {
    width: 100%;
    height: 13vh;
    background-color: #6e6e6e;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    margin: 2px;
    padding: 5px;
    display: block;
    position: absolute;
    top: 0;
    left: 1vw;
}

ul,
li {
    display: block;
    padding: 0%;
    margin: 0%;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

div,
p,
a,
img {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}



.menu {
    display: flex;
    width: auto;
}

.menu li {
    font-size: 18 px;
    margin: 50px 35px;
    color: white;
}

.menu li a {
    color: #fff;
    padding-bottom: 2px;
    padding-top: 2px;
}



.menu li.active a {
    color: #22a9c1;
}

.menu li.active a,
.menu li a:hover {
    color: #22a9c1;
    font-size: 27px;
    transition: all 0.5s ease;
}

.auth {
    display: inline-flex;
    position: absolute;
    right: 20px;
    top: 15px;
    color: white;
}

.name {
    display: flex;
    position: relative;
    float: right;
    color: whitesmoke;
    font-size: 15px;
}

.name:hover {
    color: #a3a792;
    font-size: 18px;
    transition: all 0.5s ease;
}

.grid2 {
    height: 400px;
}

.text_about {
    font-size: 14px;
    margin-top: 500px;
    color: lightslategray;
}

.first_ph {
    margin-top: 20px;
    margin-right: 10px;
    padding-left: 750px;
}

.text_about {
    font-size: 18px;
    color: #525252;
    margin-top: 20px;
    padding-top: 50px;
    padding-left: 10pxs;
}
.h {
    font-weight: 900;
    color: #fff;
    margin-left: 15px;
}

.h2 {
    color: #fff;
    font-weight: 700;
    margin-left: 10px;
}

.sec1 {
    position: relative;
    height:auto;
    background-color: #d3d2d2;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 90vh;
}

.box1 {
    width: 80%;
    height: auto;
    margin-top: 5vh;
    border-radius: 2%;
    background-color: #fff;
    position: relative;
    justify-content: space-between;
    align-items: center;
}

.news {
    font-weight: 700;
    font-size: x-large;
    color: #000000;
}
section{
    min-height: 10vh;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    width: auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card {
 
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: auto;
    max-height: 50%;
    height: auto;

}
.container .card {
    position: relative;
    width: 70% ;
    height: auto;
}
.container .card .face {
    transition: 0.5s;
}
.container .card .face.face1 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
}
.container .card .face.face1{
    align-items: center;
    justify-content: center;
    width: auto;
}
.container .card:hover .face.face1 {
    transform: translateY(0);
}
.container .card .face.face1 .content {
    opacity: 0.85;
    transition:0.5s ;
}
.container .card:hover .face.face1 .content {
    opacity: 1;
}
.container .card .face.face2 .content {
    opacity: 0.1;
    transition: 0.8s;
}
.container .card:hover .face.face2 .content {
    opacity: 1;
}
.container .card .face.face1 .content img {
    max-width: 30vh;
    min-width: 10vh;
}
.content {
    width: 60%;
    height: 50%;
}
.container .card .face.face1 .content h3 {
    margin: 5px;
    padding: 0;
    width: 50%;
    color: #fff;
    text-align: center;
}
.novost {
    position: absolute;
    top: 0;
    padding: 0;
    margin: 0;
    color: #000;
    border-bottom: 1px solid rgb(197, 197, 197);
}
.container .card .face.face2 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    transform: translateY(-100px);

}
.container .card:hover .face.face2 {
    transform: translateY(0);

}
.container .card .face.face2 .content p{
    margin: 0;
    padding: 0;
}
.container .card .face.face2 .content a{
    display: inline-block;
    text-decoration: none;
    font-weight: 100;
    color:black;
    border: 1px solid black;
    transition: ease-in;
}
.container .card .face.face2 .content a:hover {
    background: #333;
    color: whitesmoke;
}

.zogolovok {
    font-weight: 900;
    font-size: xx-large;
    position: relative;
    justify-content: center;
    text-align: center;
    top: 5px;
    color: #d3d2d2;
    background: linear-gradient(to bottom, #932197, rgb(77, 9, 187));
    height: 50px;
}
{
    width: 100%;
    height: auto;
    margin-top: 0px;
    background: #000;
    text-align: center;
    transform: translateY(100px);
    z-index: 1;
}

.social img {
    transform: translateY(100px);
    z-index: 1;
}

.social img:hover {
    background: #494949;
    border-radius: 50%;
}

.btn-top {
    position: fixed;
    bottom: 50px;
    right: 5vw;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #ccc;
    background: #333;
    z-index: 99;
    outline: 0!important;
}

.btn-top:after {
    content: '';
    width: 10px;
    height: 10px;
    border-top: 2px solid #ccc;
    border-left: 2px solid #ccc;
    transform: rotate(45deg);
    position: absolute;
    top: 4px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}

footer {
    width: 100%;
    background: black;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.logo_footer {
    position: relative;
    width: 60%;
    align-items: center;
    padding: 8px;
}

.soc_fooer {
    position: relative;
}

.soc_footer a {
    margin-right: 30px;
}

.basicBox {
    color: #fff;
    font-size: medium;
    text-align: center;
    justify-content: space-between;
    text-transform: uppercase;
    position: relative;
    height:auto;
    cursor: pointer;
}

.nav_footer {
    width: 25%;
    max-width: 30%;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.nav_footer a div.basicBox {
    justify-content: center;
}
.nav_social {
    position: absolute;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: row;
}
svg {
    position: absolute;
    top: 0;
    left: 0;
}
svg rect {
    stroke: #536DFE;
    stroke-width: 1;
    transition: 0.8s;
    stroke-dasharray: 400, 0;
}
div.basicBox p {
    padding: 9px;
}
.basicBox:hover svg rect {
    stroke-width: 5;
    stroke-dasharray: 35, 245;
    stroke-dashoffset: 38
}

.pict {
    margin-top: 5vh;
}

.pict a {
    margin-right: 30px;
    transition: ease-in;
}

.pict a:hover {
    opacity: 0.8;
    margin-bottom: 10px;
}

.search-box {
    right: 20px;
    top: 50px;
    display: flex;
    position: absolute;
    background-color: #2f3640;
    height: 40px;
    border-radius: 40px;
}

.search-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f0f0f0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #2f3640;
    text-decoration: none;
}

.search-txt {
    border: none;
    outline: none;
    background: none;
    padding: 0;
    color: #fff;
    font-size: 16px;
    transition: .4s;
    line-height: 40px;
    width: 0;
}

.search-box:hover .search-txt {
    width: 240px;
    padding: 0 6px;
}

.search-box:hover .search-btn {
    background-color: #2b2b2b;
}